<!DOCTYPE html>
<html>
<div id="header">
  
<head>
  <link rel="stylesheet" type="text/css" href="public/styles.css">
 <title>Emoji Cipher</title>
 </head>
</div>

<body>

   
<div class="page-title"><h1 style ="text-align: center"> DECODE!</h1></div>

<div id="intro-text">
  
</div>

<div id="explanation" class="exp"><p style="text-align: center";>Try our our cool emoji cipher below! But...wait! What is a "cipher" you may ask...click here to find out!</p></div>
<div id="alpha-container" class="container">
  <input type="text" id="alpha-input" class:"input">
</div>

<div id="emoji-container" class="container">
  🤔
</div>

</body>
</html>